Time Series Prediction
### Name - Onkarjot Singh
### Roll no - 101903564
### Group - 4coe22

Imports

In [91]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

Reading DATASET

In [92]:
df=pd.read_excel("DATASET.xlsx")
df.head()

/usr/local/lib/python3.7/dist-packages/openpyxl/worksheet/_reader.py:312: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)
/usr/local/lib/python3.7/dist-packages/openpyxl/worksheet/_reader.py:312: UserWarning: Conditional Formatting extension is not supported and will be removed
  warn(msg)

,Unnamed: 0,year,Para-1,Para-2,Para-3,Para-4,Para-5,Para-6,Para-7,Para-8,Para-9,Para-10,Para-11,Para-12,Para-13
0,Sec_1,1,324.0,354.5,17.0,0.0,3,117,2600,400,0.0,0.0,0.0,0,1.52
1,NaN,2,324.0,161.1,18.2,0.0,4,106,5950,1190,0.0,3.4,0.0,0,1.62
2,NaN,3,324.0,170.7,18.5,0.0,4,110,5950,1190,0.0,21.3,0.0,4,1.68
3,NaN,4,324.0,223.9,18.9,0.0,3,110,6150,1340,0.0,21.3,0.0,5,1.78
4,NaN,5,324.0,228.2,18.4,0.0,2,113,6340,1450,0.0,23.9,0.0,7,1.80

Removing Incomplete Data

In [93]:
print(df.shape,len(df))
df=pd.concat([df.iloc[0:910],df.iloc[919:]])
print(df.shape,len(df))
df.to_excel("DATASET_new.xlsx",index=False)

(1009, 15) 1009
(1000, 15) 1000

PRE-PPROCESSING

In [94]:
df=df.drop(['Unnamed: 0'], axis=1)
df.head(20)

,year,Para-1,Para-2,Para-3,Para-4,Para-5,Para-6,Para-7,Para-8,Para-9,Para-10,Para-11,Para-12,Para-13
0,1,324.0,354.5,17.0,0.0,3,117,2600,400,0.0,0.0,0.0,0,1.520
1,2,324.0,161.1,18.2,0.0,4,106,5950,1190,0.0,3.4,0.0,0,1.620
2,3,324.0,170.7,18.5,0.0,4,110,5950,1190,0.0,21.3,0.0,4,1.680
3,4,324.0,223.9,18.9,0.0,3,110,6150,1340,0.0,21.3,0.0,5,1.780
4,5,324.0,228.2,18.4,0.0,2,113,6340,1450,0.0,23.9,0.0,7,1.800
5,6,324.0,225.0,17.2,0.0,4,114,6630,1500,0.0,24.9,0.0,7,1.810
6,7,324.0,130.0,18.4,0.0,3,103,6700,1540,0.9,25.2,0.0,7,1.860
7,8,324.0,100.6,19.0,0.0,2,114,6740,1590,0.9,52.8,0.0,8,1.890
8,9,324.0,176.5,19.0,0.0,3,108,7175,1787,3.4,60.5,57.0,8,1.920
9,10,324.0,53.6,19.0,0.0,2,105,7567,1885,16.8,105.0,65.0,9,1.960
10,1,327.7,336.6,21.3,0.0,4,106,5810,2030,0.0,0.0,0.0,0,0.712
11,2,327.7,240.2,22.1,0.0,3,104,5900,2200,0.0,0.0,0.0,0,0.720
12,3,327.7,155.3,22.4,0.0,3,104,6100,2500,0.0,0.0,0.0,0,0.752
13,4,327.7,77.0,23.0,0.0,2,105,6140,2650,0.0,9.0,0.0,0,0.758
14,5,327.7,146.3,22.5,0.0,2,108,6200,2800,2.9,11.0,0.0,6,0.762
15,6,327.7,216.3,21.2,0.0,4,111,6500,2550,34.8,18.6,0.0,7,0.770
16,7,327.7,77.1,22.4,0.0,4,106,19437,7674,50.6,24.9,0.0,7,0.781
17,8,327.7,90.3,22.8,0.0,2,105,22755,8472,56.7,27.0,1.0,8,0.789
18,9,327.7,238.5,22.8,0.0,2,103,26640,9353,60.9,30.2,1.0,8,0.794
19,10,327.7,62.0,22.7,0.0,2,102,30525,10234,76.5,44.3,5.0,9,0.795

In [95]:
groups=[]
for i in range(0,len(df),10):
    groups.append(df[i:i+10])
len(df)

1000

In [96]:
print(len(groups))
print(groups[99])

100
      year  Para-1  Para-2  Para-3  Para-4  Para-5  Para-6  Para-7  Para-8  \
999      1   454.0  1446.2    13.6    69.3      23     119    2156     509
1000     2   454.0  1366.8    12.7   152.0      19     116    2223     525
1001     3   454.0  1310.5    13.3    57.9      17     114    2634     595
1002     4   454.0  1128.7    15.0    28.0      12     121    3842     730
1003     5   454.0  1126.6    14.4    28.8      16     116    3842     730
1004     6   454.0   931.8    13.6   125.0      13     116    4150     830
1005     7   454.0   703.0    14.5    17.0      13     118    4150     830
1006     8   454.0  1124.1    14.9    45.0      18     117    4200     840
1007     9   454.0  1462.3    13.2    62.0      27     117    4400     720
1008    10   454.0   986.3    14.3    67.0      24     122    4415     721

      Para-9  Para-10  Para-11  Para-12  Para-13
999      0.0      0.0      0.0        2    1.466
1000     0.0      0.0      0.0        2    1.492
1001     0.0      0.0      0.0        4    1.597
1002     0.0      0.0      0.0       15    1.634
1003    19.0      0.0      0.0       15    1.654
1004    15.1      1.8      1.0       15    1.681
1005    24.6      7.9      2.0       15    1.838
1006   119.0     15.7      2.0       16    1.862
1007   138.2     30.5      6.0       18    1.883
1008   293.0     39.8      7.0       18    1.889

In [97]:
X=[]
Y=[]
length= len(groups[0])-1
print(length)
for i in range(len(groups)):
    X.append(groups[i][:length][:])
    Y.append(groups[i][length:length+1][:])

9

In [98]:
for i in range(len(X)):
    X[i]= X[i].to_numpy()
    Y[i]= Y[i].to_numpy()

In [99]:
X= X[:len(X)-1]
Y= Y[:len(Y)-1]

Removing NaN Generated during convirting to numpy

In [100]:
deletion_rows=[]
for i in range(len(X)):
    if np.isnan(np.min(X[i])):
        deletion_rows.append(i)
print(deletion_rows)

for i in deletion_rows:
    X.pop(i)
    Y.pop(i)

while(len(deletion_rows)):
    deletion_rows=[]
    for i in range(len(X)):
        if np.isnan(np.min(X[i])):
            deletion_rows.append(i)
    print(deletion_rows)
    for i in deletion_rows:
        X.pop(i)
        Y.pop(i)

[19, 26]
[25]
[]

In [101]:
print(len(X), len(Y))

96 96

In [102]:
print(X[0].shape, Y[0].shape)

(9, 14) (1, 14)

Declaring Model

In [103]:
from lightgbm import LGBMRegressor
model = LGBMRegressor(random_state=19)

Training Model, Predicting and Calculating RMSE

In [104]:
squared_error=0
rmse=[]
for j in range(9,14):
    x,y=[],[]
    for i in range(len(X)):
        x.append(X[i][:,j])
        y.append(Y[i][:,j])
    # print(len(x),len(y))
    # print(x[0], y[0])

    x= np.asarray(x)
    y= np.asarray(y)
    print(x.shape, y.shape)
    # print(x[0], y[0])
    # break
    train_x, test_x, train_y, test_y= train_test_split(x,y, test_size=0.2, random_state=35)
    
    train_x= np.asarray(train_x).astype('float32')
    train_y= np.asarray(train_y).astype('float32')
    test_x= np.asarray(test_x).astype('float32')
    test_y= np.asarray(test_y).astype('float32')

    model.fit(train_x, train_y)
    y_pred= model.predict(test_x)
    # squared_error += np.sum(np.square(y_pred-test_y))
    for i in range (len(y_pred)):
        squared_error += np.sum(np.square(y_pred[i]-test_y[i]))
    print(squared_error)
    rmse.append(np.sqrt(squared_error/len(test_x)))
    # print(model.score(test_x, test_y))
    # break
# rmse= np.sqrt(squared_error/5)

(96, 9) (96, 1)
69044.77140414715
(96, 9) (96, 1)
113728.17219245434
(96, 9) (96, 1)
138309.23390568607
(96, 9) (96, 1)
138861.92607421242
(96, 9) (96, 1)
138863.1377673594

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [105]:
print(rmse)
frmse= np.mean(rmse)
print(frmse)

[58.75575350727244, 75.40827945008901, 83.15925501881497, 83.32524409631586, 83.32560763875635]
76.79482794224973

Resulting RMSE is 76.76